* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(202, 66, 66, 0.787);
}

.nav-container ul {
    list-style-type: none;
    overflow: hidden;
    padding: 8px;
}

.nav-container li {
    float: left;
    text-decoration: none;
    margin: 10px;
}

.link-class {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.link-class:hover {
    color: rgb(165, 22, 14);
}