* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(202, 66, 66, 0.787);
}

.nav-container ul {
    list-style-type: none;
    overflow: hidden;
    padding: 8px;
}

.nav-container li {
    float: left;
    text-decoration: none;
    margin: 10px;
}

.link-class {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.link-class:hover {
    color: rgb(165, 22, 14);
}

#btn-right button {
    border-radius: 15px;
    background-color: rgb(248, 248, 248);
    color: #1d0202;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 18px;
    margin: 9px;
    cursor: pointer;
}